---
layout: default
---
<section class="min-h-screen py-24 bg-gradient-to-br from-white to-gray-200">
    <div class="text-center max-w-3xl mx-auto mb-16" data-aos="fade-up">
        <span class="text-accent font-medium">À propos</span>
        <h2 class="text-3xl md:text-4xl font-bold text-primary mt-2 mb-4">Parcours & Projet professionnel</h2>
        <p class="text-gray-600">Mon parcours dans le développement</p>
    </div>

    <div class="container mx-auto px-4 h-auto overflow-hidden">
        <div class="tech-card group  m-8" data-aos="fade-up">
            <div class="flex items-start gap-4">
                <div class="w-12 h-12 bg-accent/10 rounded-lg flex items-center justify-center group-hover:bg-accent/20 transition-colors flex-shrink-0">
                    <i class="fas fa-book text-accent text-xl"></i>
                </div>
                <div>
                    <h3 class="font-medium text-primary mb-2">Mon Parcours</h3>
                    <p class="text-gray-600 text-sm leading-relaxed">
                        <span class="text-accent">Passionné</span> par l’informatique depuis plusieurs années et après avoir suivi les spécialités NSI et Mathématique au lycée, je me suis naturellement dirigé vers le BUT Informatique de l’IUT Montpellier-Sète afin de développer mes connaissances et compétences dans ce domaine.
                    </p>

                    <p class="text-gray-600 text-sm leading-relaxed mt-3">
                        Je pratique le piano et la guitare en autodidacte depuis maintenant 3 ans et utilise ma <span class="text-accent">créativité</span> au quotidien dans mon approche du développement d’application.
                    </p>
                    <p class="text-gray-600 text-sm leading-relaxed mt-3">
                        Ayant fait un stage d’observation en 3ème dans une agence web spécialisée dans la création de site web, le développement m’a passionné et j’ai donc poursuivi dans cette voie durant le lycée et après l’obtention de mon BAC mention très bien et suis maintenant très épanoui dans mes études.
                    </p>
                    <p class="text-gray-600 text-sm leading-relaxed mt-3">
                        Après un stage de 10 semaines à l’université d’Avignon et maintenant en alternance dans la même entreprise, je suis convaincu que la <span class="text-accent">conception et la réalisation d’application</span> est la voie que j’aimerais suivre !
                    </p>
                    <p class="text-gray-600 text-sm leading-relaxed mt-3">
                        Je suis à l’écoute, passionné, et très motivé d’en <span class="text-accent">apprendre</span> plus chaque jour !
                    </p>
                </div>
            </div>
        </div>

        <div class="tech-card group m-8" data-aos="fade-up" data-aos-delay="100">
            <div class="flex items-start gap-4">
                <div class="w-12 h-12 bg-accent/10 rounded-lg flex items-center justify-center group-hover:bg-accent/20 transition-colors flex-shrink-0">
                    <i class="fas fa-rocket text-accent text-xl"></i>
                </div>
                <div>
                    <h3 class="font-medium text-primary mb-2">Projet Professionnels</h3>
                    <h4 class="text-accent">
                        Durant le BUT Informatique
                    </h4>
                    <p class="text-gray-600 text-sm leading-relaxed">
                        Actuellement en 3ème année de BUT Informatique en alternance à l’Université d’Avignon, j’aimerais profiter de cette dernière année et des projets qui y sont projets proposés dans la formation et en entreprise pour accroître mes compétences en développement web et algorithmie ainsi qu’en <span class="text-accent">gestion d’équipe et de projet</span> pour pouvoir m’épanouir au maximum par la suite.
                    </p>
                    <h4 class="text-accent">
                        Après le BUT Informatique
                    </h4>
                    <p class="text-gray-600 text-sm leading-relaxed mt-3">
                        Après le BUT Informatique, j’aimerais poursuivre dans cette voie dans une <span class="text-accent">école d’ingénieur</span> comme Polytech Montpellier ou Lyon, ou encore l’école IMT-Mines Alès. Dans l’idéal, j’aimerais poursuivre dans une formation en alternance pour développer mon expérience professionnelle dans l’informatique.

                        Sinon, j’aimerais poursuivre mes études dans ce domaine en Master d’informatique.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
